@media(max-width:980px)
{
    header{
        width: auto;
        background-size: cover;
        background-position: center;
    }
    .main{
       justify-content: space-evenly;
    }

   header img{
        background-size: cover; 
    }

    .logo{
        flex-basis: 25%;
        height: 100px;
        align-items: center;
    }

    .logo img{
        width: 90%;
        height: 90%;
        padding-top: 30px;
        padding-left: 5px;
    }

    nav{
        flex-basis: 80%;
    }

    nav ul li a{
        font-size: 17px;
        justify-content: space-evenly;
        /* color: #202020; */
     
    }
    .title-name h1{
        font-size: 27px;
        text-align: center;
    }

    .title-name p{
        font-size: 18px;
        text-align: center;
    }

    .sub-jet h1{
        font-size: 20px;
    }

    .sub-jet p{
        font-size: 15px;
    }
    .info{
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .sub-info img{
        margin-top: 50px;
    
    }
    .a{
        flex-direction: column;
        height: auto;
    }

    .a img{
        width: 70%;
        height: 70%;
        padding-top: 30px;
    }

    .b{
        /* flex-direction: column; */
        height: auto;
        margin-bottom: 100px;
    }

    .c{
        
        height: auto;
        margin-top: 30px;
    }

    .number {
      /* flex-basis: 50%; */
      flex-wrap: wrap;
    }

    .sub-number{
        flex-basis: 50%;
        margin-top: 50px; 

    }

    .img{
        flex-direction: column;
        margin-top: 300px;
        height: 1000px;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    .sub-img{
        flex-basis: 30%;
        border: 1px solid white;

    }

    .sub-number h1{
        font-size: 30px;
       
    }
    .sub-number p{
        font-size: 22px;
    }
    .seild{
        margin-top: 200px;
    }

    .que{
        margin-top: 800px;
        

    }

    .que-box{
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }

    .sub-box{
        width: auto;
        height: auto;
        margin-top: 50px;
        
    }

 
   

}






@media(max-width:720px)
{
    header{
        width: auto;
        background-size: cover;
        background-position: center;
    }
    .main{
       justify-content: space-evenly;
    }

   header img{
        background-size: cover; 
    }

    .logo{
        flex-basis: 25%;
        height: 100px;
        align-items: center;
    }

    .logo img{
        width: 90%;
        height: 90%;
        padding-top: 30px;
        padding-left: 5px;
    }

    nav{
        flex-basis: 80%;
    }

    nav ul li a{
        font-size: 15px;
        justify-content: space-evenly;
        /* color: #202020; */
     
    }
    .title-name h1{
        font-size: 27px;
        text-align: center;
    }

    .title-name p{
        font-size: 18px;
        text-align: center;
    }

    .jet{
        flex-direction: column;
        margin-top: 200px;
    }

    .sub-jet{
        margin-top: 20px;
    }

    .sub-jet h1{
        font-size: 20px;
    }

    .sub-jet p{
        font-size: 15px;
    }

    .info{
        flex-direction: column;
        margin-top: 350px;
        /* border: 1px solid black; */
        height: auto;
        width: auto;
    }

    .sub-info h1{
        font-size: 25px;
    }

    .sub-info p{
        font-size: 15px;
    }

    .sub-info h2{
        font-size: 18px;
    }
    .a{
        /* flex-direction: column; */
        height: auto;
    }

    .a img{
        width: 70%;
        height: 70%;
        padding-top: 30px;
    }

    .b{
        /* flex-direction: column-reverse; */
        height: auto;
    }

    .c{
        
        height: auto;
        margin-top: 30px;
    }
    .img{
        flex-direction: column;
        margin-top: 300px;
        height: 1000px;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    .sub-img{
        flex-basis: 30%;
        /* border: 1px solid white; */

    }

    .sub-number h1{
        font-size: 30px;
       
    }
    .sub-number p{
        font-size: 22px;
    }
    .seild{
        margin-top: 200px;
    }

    .sub-seild{
        margin-top: 20px;
    }

    .que{
        margin-top: 320vh;
        

    }

    .que-box{
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }

    .sub-box{
        width: auto;
        height: auto;
        margin-top: 50px;
        
    }

    
    

   

}












@media(max-width:480px)
{
    header{
        width: auto;
        background-size: cover;
        background-position: center;
    }
    .main{
       justify-content: space-evenly;
    }

   header img{
        background-size: cover; 
    }

    .logo{
        flex-basis: 25%;
        height: 100px;
        align-items: center;
    }

    .logo img{
        width: 90%;
        height: 90%;
        padding-top: 30px;
        padding-left: 5px;
    }

    nav{
        flex-basis: 80%;
    }

    nav ul li a{
        font-size: 12px;
        justify-content: space-evenly;
        /* color: #202020; */
     
    }
    .title-name h1{
        font-size: 27px;
        text-align: center;
    }

    .title-name p{
        font-size: 18px;
        text-align: center;
    }

    .jet{
        flex-direction: column;
        margin-top: 200px;
    }

    .sub-jet{
        margin-top: 20px;
    }

    .sub-jet h1{
        font-size: 20px;
    }

    .sub-jet p{
        font-size: 15px;
    }

    .info{
        
        flex-direction: column;
        margin-top: 350px;
        /* border: 1px solid black; */
        height: auto;
        width: auto;
    }

    .sub-info h1{
        font-size: 25px;
    }

    .sub-info p{
        font-size: 18px;
    }

    .sub-info h2{
        font-size: 18px;
    }

    .sub-info img{
        width: 400px;
        height: 300px;
    }

    .a{
        flex-direction: column;
        height: auto;
    }

    .a img{
        width: 70%;
        height: 70%;
        padding-top: 30px;
    }

    .b{
        flex-direction: column;
        height: auto;
    }

    .c{
        width: 250px;
        height: 250px;
        margin-top: 30px;
    }
    
    .c p{
        font-size: 14px;
      
    }

    .seild{
        margin-top: 200px;
    }

    .que{
        margin-top: 320vh;
        

    }

    .que-box{
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }

    .sub-box{
        width: auto;
        height: auto;
        margin-top: 50px;
        
    }

   

  

}